.plugin-panel {
    .plugin-item {
        background-color: var(--mantine-color-default) !important;

        .plugin-img-outer {
            overflow: hidden;
            background-color: var(--mantine-color-body);
            .plugin-img-wrapper {
                position: relative;
                overflow: hidden;
                border-radius: 4px;

                .plugin-img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .plugin-link {
            cursor: pointer;

            &:hover {
                background-color: var(--mantine-color-primary-light-hover);
            }
        }
    }
}

.user-settings-tabs {
    .user-settings-panel {
        .user-settings-scroll {
            max-height: calc(100vh - 2 * (var(--modal-y-offset)) - 120px);
            padding-bottom: 12px;
            border-radius: 4px;

            .mantine-ScrollArea-viewport {
                max-height: calc(100vh - 2 * (var(--modal-y-offset)) - 120px);
            }
        }
    }
}

.user-settings-body {
    height: calc(100dvh - 2 * var(--modal-y-offset) - 60px);
    overflow-y: hidden;
}
