.collections-main {
    height: 100%;
    position: relative;

    .collections-scroll {
        height: 100%;
    }

    .add-item-menu {
        position: absolute;
        bottom: 16px;
        right: 16px;

        .add-item-button {
            transition: transform 0.1s;
        }

        .add-item-items {
            height: 0px;
            overflow: hidden;
        }

        &.active {
            .add-item-button {
                transform: rotate(45deg);
            }

            .add-item-items {
                height: fit-content;
                overflow: visible;
            }
        }
    }
}